#container {

    fa-icon {
        color: gray;
        font-size: 24px;
        cursor: pointer;

        &.rated {
            color: orange;
        }

        transition: color 0.3s ease-in-out;
    }

    &.readOnly {
        fa-icon {
            cursor: default;
            &:hover:not(.rated),
            &:hover ~ fa-icon:not(.rated) {
                color: gray;
            }
        }
    }
}