<form [formGroup]="productDetailsForm" novalidate class="flex gap-4 mb-4">
  <img class="w-80 h-full" src="{{product.image}}">
  <div class="flex flex-col gap-4 flex-1">
    <div class="flex flex-col gap-2 flex-1">
      <label>Title</label>
      <input type="text" formControlName="title" pInputText>
    </div>
    <div class="flex flex-col gap-2 flex-1">
      <label>Price</label>
      <input type="text" formControlName="price" pInputText>
    </div>
    <div class="flex flex-col gap-2 flex-1">
      <label>Description</label>
      <textarea type="text" formControlName="description" pTextarea class="h-40"></textarea>
    </div>
    <div class="flex flex-col gap-2">
      <label>Category</label>
      <p-select
        [options]="categories"
        formControlName="category"
        optionLabel="name"
        class="w-full md:w-56"
      ></p-select>
    </div>
    <div class="flex flex-col gap-2">
      <label>Rate</label>
      <input type="number" max="5.0" formControlName="rate" pInputText>
    </div>
    <div class="flex flex-col gap-2">
      <label>Count</label>
      <input type="number" formControlName="count" pInputText>
    </div>
  </div>

</form>
<div class="flex justify-end gap-2">
  @if (!updating) {
    <p-button label="Update" severity="secondary" (click)="update()"/>
  } @else {
    <p-button label="Save" severity="secondary" (click)="save()"/>
  }
  <p-button label="Cancel" severity="secondary" (click)="close()"/>
</div>

